{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

        {% for post in posts %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.type}} &nbsp {{post.category}}</p>
                        {% if post.reward %}
                            <p class="card-text">보상O</p>
                        {% else %}
                            <p class="card-text">보상X</p>
                        {% endif %}
                        <p class="card-text"><small class="text-body-secondary">{{post.writedate}}</small></p>
                        {{post.photo}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}