{% extends 'base_filter.html' %}
{% load bootstrap5 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        {% for post in posts %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4" style="max-width: 200px; max-height: 200px">
                    {% with thubnail=post.get_thubnail %}
                        <img src="/media/{{thubnail.photo}}" style="height:95%; margin-top: 2.5%; margin-left: 2px;" class="img-fluid rounded-start" alt="사진X">
                    {% endwith %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.type}} &nbsp {{post.category}}</p>
                        {% if post.reward %}
                            <p class="card-text">보상O</p>
                        {% else %}
                            <p class="card-text">보상X</p>
                        {% endif %}
                        <p class="card-text"><small class="text-body-secondary">{{post.writedate}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="mt-5 mb-5">&nbsp</div>
    </div>


{% endblock %}