{% extends 'base_filter.html' %}
{% load bootstrap5 %}

{% block content %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <div class="card mb-3" style="max-width: 540px; cursor: pointer;" onclick="location.href='/post/list/습득/'">
        <div class="row g-0">
            <div class="col-md-4" style="max-width: 200px; max-height: 200px">
                {% with thumbnail=get_post.get_thumbnail %}
                    <img src="/media/{{thumbnail.photo}}" style="height:95%;" class="img-fluid rounded-start" alt="사진X">
                {% endwith %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">새로 습득했어요!</h5>
                    <p class="card-text">{{get_post.title}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{get_post.writedate}}</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px; cursor: pointer;" onclick="location.href='/post/list/분실/'">
        <div class="row g-0">
            <div class="col-md-4" style="max-width: 200px; max-height: 200px">
                {% with thumbnail=lost_post.get_thumbnail %}
                    <img src="/media/{{thumbnail.photo}}" style="height:95%;" class="img-fluid rounded-start" alt="사진X">
                {% endwith %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">찾고 있어요!</h5>
                    <p class="card-text">{{lost_post.title}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{lost_post.writedate}}</small></p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}