{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div style="max-width: 1000px; margin: 10rem auto;">

    <div class="card w-50" type="button" data-bs-toggle="collapse" data-bs-target="#Q1" aria-expanded="false" aria-controls="Q1">
        <div class="card-body">
            <h5 class="card-title">Q1</h5>
            <p class="card-text">자주 묻는 질문 1</p>
        </div>
    </div>
    <div class="card w-75 mb-3 mt-3 collapse" id="Q1">
        <div class="card-body">
            <h5 class="card-title">A.</h5>
            <p class="card-text">답변</p>
        </div>
    </div>

    <div class="mt-5 mb-5">&nbsp</div>
</div>

{% endblock %}